.section2{
    margin: 0px 0px 50px 0px;
    h1{
        text-align: center;
        height: 80px;
        padding-top: 50px;
        margin-bottom: 50px;
        color: antiquewhite;
        text-transform: uppercase;
        background-color: $footer;
        box-shadow: $boxshadow;
    }

}

.portfoliowrapper{
    @include flex_center;
    flex-wrap: wrap;
    gap: 40px;
    &__container{
        position: relative;
    }

    &__image{
        display: block;
        border-radius: 10px;

    }
    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 500ms ease;
        background-color: rgb(35, 43, 61);
        border-radius: 10px;
    }

    &__button{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 20px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
    }

    &__container:hover &__overlay{
        opacity: 1;
    }
}