.section1{
    height: 100vh;
    h1{
        text-align: center;
        height: 80px;
        padding-top: 50px;
        margin-bottom: 50px;
        color: antiquewhite;
        text-transform: uppercase;
        background-color: $footer;
        box-shadow: $boxshadow;
    }
}

.testimonialwrapper{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 400px;
    background-color: $textbckgrnd;
    border-radius: 20px;
    box-shadow: -1px 3px 4px $shadowcolor;
    &__card{
        position: relative;

        &__h2{
            position: absolute;
            text-align: center;
            margin: 40px 35px 0px 35px;
            font-size: $font_size;
            line-height: 1.8;
            font-weight: 300;
            color: $textcolor_card;
            text-align: start;
        }
    }
    &__card img{
        position: absolute;
        top: 190px;
        left: 95px;
        border: 8px solid $textbckgrnd;
        border-radius: 50%;
        z-index: 1;
    }

    &__footer{
        position: absolute;
        top: 250px;
        left: 0px;
        border-radius: 0px 0px 20px 20px;
        background-color: $footer;
        width: 300px;
        height: 150px;
        text-align: center;
        font-size: $font_size;

        &__h2{
            color: $textbckgrnd;
            padding-top: 70px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 100;
        }

        &__p{
            color: $textcolor_footer;
        }
    }
}