*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4em;
    font-weight: bold;
    height: 100vh;
}

// dropdown menu

.dropdown {
    position: relative;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    &__img{
        margin-bottom: 20px;
    }
}

.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
    &__list{
        list-style-type: none;
        width: 220px;
        &__item{
            &__link{
            display: block;
            color: black;
            text-decoration: none;
            margin-bottom: 1px;
            }
            &__link:hover{
                    background-color: #f1f1f1;
            }
        }
    }
}

.dropitdown{
    display: block;
}

#check{
    margin: 5px;
}

// Text that describes the color
.colortext{
    position: absolute;
    top: 50%;
    left: 20%;
    width: 250px;
    height: 200px;
    font-size: 3em;
}

//Radio buttons
input {
    display: block;
	width: 30px;
	height: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	padding: 4px 8px;
	background: white;
	color: rgb(0, 0, 0);
	font-size: 0.8em;
}

input:checked {
	background-color: #fffb03;
	color: black;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
    font-size: 0.8em;
}

input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

//color classes
.home-background{
    background-color: antiquewhite;    
}
.red-background{
    background-color: red; 
    color: white;  
}
.green-background{
    background-color: green;  
}
.blue-background{
    background-color: blue; 
    color: white; 
}
.orange-background{
    background-color: orange;  
}
.purple-background{
    background-color: purple;  
    color: white; 
}

