@media screen and (max-width: 500px) {
    .headerwrapper{
        &_text{
            font-size:x-small;
        }
    }
    .filterwrapper{
        &_genre{
            display: flex;
            flex-direction: column;
            width: 100%;
            &_checkbox {
                margin-top: 10px;
            }
        }
    }
    .emptylist{
        &_image{
            height: 250px;
        }
    }
}

@media screen and (max-width: 800px) {
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .songformwrapper {
        flex-direction: column;
    }
}