.filterwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: fit-content;
    &_genre{
        display: flex;
        justify-content: space-between;
    }
}